<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"> <strong>URKU PORTFOLIO</strong><sup>tm</sup></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active row" id="hom">
        <a class="nav-link" href="/"><strong>Home</strong> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item row" id="por">
        <a class="nav-link" href="/portfolio"><strong>Portfolio</strong></a>
      </li>
      <li class="nav-item row" id="blo">
        <a class="nav-link" href="/blog"><strong>Blog</strong></a>
      </li>
      <li class="nav-item dropdown row" id="pag">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <strong>Pages</strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/about">About</a>
          <a class="dropdown-item" href="/documentation">Documentation</a>
          <a class="dropdown-item" href="#">Design Styles</a>
        </div>
      </li>
      <li class="nav-item row" id="con">
        <a class="nav-link" href="/contact"><strong>Contact Us</strong></a>
      </li>
    </ul>
  </div>
</nav>