<div class="contenedor raw" id="img1">
    <img class="img-fluid" src="img/project-1h.jpg" />
    <div class="leyenda" id= "txt1"><strong>Essential Stationary</strong>
    </div>
    <div class="leyenda" id= "txt2">Branding</div>
</div>  
<div class="contenedor" id="contenedor"> 
    <div id="img2">
        <img class="img-fluid" src="img/project-2.jpg" />
        <div class="leyenda" id= "txt1"><strong>Pickled Toused</strong>
        </div>
            <div class="leyenda" id= "txt2">
                Art Direction
            </div>
        </div> 
    <div id="img3">
        <img class="img-fluid" src="img/project-3.jpg" />
        <div class="leyenda" id= "txt1">
            <strong>Waistcoat Vegan</strong>
        </div>
        <div class="leyenda" id= "txt2">
            Graphic Design
        </div>
    </div> 
</div>
<div id="img4">
    <img class="img-fluid" src="img/project-4.jpg" />
    <div class="leyenda" id= "txt1">
        <strong>Tumblr Hammok</strong>
    </div>
        <div class="leyenda" id= "txt2">
            Packagign
        </div>
    </div> 
<div id="img5">
    <img class="img-fluid" src="img/project-5.jpg" />
    <div class="leyenda" id= "txt1">
        <strong>Biodiesel Etsy</strong>
    </div>
    <div class="leyenda" id= "txt2">
        Branding
    </div>
</div> 
<div id="img6">
    <img class="img-fluid" src="img/project-6.jpg" />
    <div class="leyenda" id= "txt1">
        <strong>Gentrify Artisan</strong>
    </div>
    <div class="leyenda" id= "txt2">
        Graphic Design
    </div>
</div>

